<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="static/gpiogui.css">
    <title>GPIO</title>
</head>
<body>
    <section class="pins">
        <section id="leftPins" class="pinGroup">
            <section id="pin1" class="pin" type="voltage3">
                <div id="pinVal_1" class="pinValue"></div>
                <div id="pinDesc_1" class="pinDescription">3.3v</div>
            </section>
            <section id="pin3" class="pin" type="GPIO">
                <div id="pinVal_3" class="pinValue"></div>
                <div id="pinDesc_3" class="pinDescription">GPIO 2</div>
            </section>
            <section id="pin5" class="pin" type="GPIO">
                <div id="pinVal_5" class="pinValue"></div>
                <div id="pinDesc_5" class="pinDescription">GPIO 3</div>
            </section>
            <section id="pin7" class="pin" type="GPIO">
                <div id="pinVal_7" class="pinValue"></div>
                <div id="pinDesc_7" class="pinDescription">GPIO 4</div>
            </section>
            <section id="pin9" class="pin" type="ground">
                <div id="pinVal_9" class="pinValue"></div>
                <div id="pinDesc_9" class="pinDescription">Ground</div>
            </section>
            <section id="pin11" class="pin" type="GPIO">
                <div id="pinVal_11" class="pinValue"></div>
                <div id="pinDesc_11" class="pinDescription">GPIO 17</div>
            </section>
            <section id="pin13" class="pin" type="GPIO">
                <div id="pinVal_13" class="pinValue"></div>
                <div id="pinDesc_13" class="pinDescription">GPIO 27</div>
            </section>
            <section id="pin15" class="pin" type="GPIO">
                <div id="pinVal_15" class="pinValue"></div>
                <div id="pinDesc_15" class="pinDescription">GPIO 22</div>
            </section>
            <section id="pin17" class="pin" type="voltage3">
                <div id="pinVal_17" class="pinValue"></div>
                <div id="pinDesc_17" class="pinDescription">3.3v</div>
            </section>
            <section id="pin19" class="pin" type="GPIO">
                <div id="pinVal_19" class="pinValue"></div>
                <div id="pinDesc_19" class="pinDescription">GPIO 10</div>
            </section>
            <section id="pin21" class="pin" type="GPIO">
                <div id="pinVal_21" class="pinValue"></div>
                <div id="pinDesc_21" class="pinDescription">GPIO 9</div>
            </section>
            <section id="pin23" class="pin" type="GPIO">
                <div id="pinVal_23" class="pinValue"></div>
                <div id="pinDesc_23" class="pinDescription">GPIO 11</div>
            </section>
            <section id="pin25" class="pin" type="ground">
                <div id="pinVal_25" class="pinValue"></div>
                <div id="pinDesc_25" class="pinDescription">Ground</div>
            </section>
            <section id="pin27" class="pin" type="i2c">
                <div id="pinVal_27" class="pinValue"></div>
                <div id="pinDesc_27" class="pinDescription">ID_SD</div>
            </section>
            <section id="pin29" class="pin" type="GPIO">
                <div id="pinVal_29" class="pinValue"></div>
                <div id="pinDesc_29" class="pinDescription">GPIO 5</div>
            </section>
            <section id="pin31" class="pin" type="GPIO">
                <div id="pinVal_31" class="pinValue"></div>
                <div id="pinDesc_31" class="pinDescription">GPIO 6</div>
            </section>
            <section id="pin33" class="pin" type="GPIO">
                <div id="pinVal_33" class="pinValue"></div>
                <div id="pinDesc_33" class="pinDescription">GPIO 13</div>
            </section>
            <section id="pin35" class="pin" type="GPIO">
                <div id="pinVal_35" class="pinValue"></div>
                <div id="pinDesc_35" class="pinDescription">GPIO 19</div>
            </section>
            <section id="pin37" class="pin" type="GPIO">
                <div id="pinVal_37" class="pinValue"></div>
                <div id="pinDesc_37" class="pinDescription">GPIO 26</div>
            </section>
            <section id="pin39" class="pin" type="ground">
                <div id="pinVal_39" class="pinValue"></div>
                <div id="pinDesc_39" class="pinDescription">Ground</div>
            </section>
        </section>
        <section id="rightPins" class="pinGroup">
            <section id="pin2" class="pin" type="voltage5">
                <div id="pinDesc_2" class="pinDescriptionRotated">5v</div>
                <div id="pinVal_2" class="pinValueRotated"></div>
            </section>
            <section id="pin4" class="pin" type="voltage5">
                <div id="pinDesc_4" class="pinDescriptionRotated">5v</div>
                <div id="pinVal_4" class="pinValueRotated"></div>
            </section>
            <section id="pin6" class="pin" type="ground">
                <div id="pinDesc_6" class="pinDescriptionRotated">Ground</div>
                <div id="pinVal_6" class="pinValueRotated"></div>
            </section>
            <section id="pin8" class="pin" type="GPIO">
                <div id="pinDesc_8" class="pinDescriptionRotated">GPIO 14</div>
                <div id="pinVal_8" class="pinValueRotated"></div>
            </section>
            <section id="pin10" class="pin" type="GPIO">
                <div id="pinDesc_10" class="pinDescriptionRotated">GPIO 15</div>
                <div id="pinVal_10" class="pinValueRotated"></div>
            </section>
            <section id="pin12" class="pin" type="GPIO">
                <div id="pinDesc_12" class="pinDescriptionRotated">GPIO 18</div>
                <div id="pinVal_12" class="pinValueRotated"></div>
            </section>
            <section id="pin14" class="pin" type="ground">
                <div id="pinDesc_14" class="pinDescriptionRotated">Ground</div>
                <div id="pinVal_14" class="pinValueRotated"></div>
            </section>
            <section id="pin16" class="pin" type="GPIO">
                <div id="pinDesc_16" class="pinDescriptionRotated">GPIO 23</div>
                <div id="pinVal_16" class="pinValueRotated"></div>
            </section>
            <section id="pin18" class="pin" type="GPIO">
                <div id="pinDesc_18" class="pinDescriptionRotated">GPIO 24</div>
                <div id="pinVal_18" class="pinValueRotated"></div>
            </section>
            <section id="pin20" class="pin" type="ground">
                <div id="pinDesc_20" class="pinDescriptionRotated">Ground</div>
                <div id="pinVal_20" class="pinValueRotated"></div>
            </section>
            <section id="pin22" class="pin" type="GPIO">
                <div id="pinDesc_22" class="pinDescriptionRotated">GPIO 25</div>
                <div id="pinVal_22" class="pinValueRotated"></div>
            </section>
            <section id="pin24" class="pin" type="GPIO">
                <div id="pinDesc_24" class="pinDescriptionRotated">GPIO 8</div>
                <div id="pinVal_24" class="pinValueRotated"></div>
            </section>
            <section id="pin26" class="pin" type="GPIO">
                <div id="pinDesc_26" class="pinDescriptionRotated">GPIO 7</div>
                <div id="pinVal_26" class="pinValueRotated"></div>
            </section>
            <section id="pin28" class="pin" type="i2c">
                <div id="pinDesc_28" class="pinDescriptionRotated">ID_SC</div>
                <div id="pinVal_28" class="pinValueRotated"></div>
            </section>
            <section id="pin30" class="pin" type="ground">
                <div id="pinDesc_30" class="pinDescriptionRotated">Ground</div>
                <div id="pinVal_30" class="pinValueRotated"></div>
            </section>
            <section id="pin32" class="pin" type="GPIO">
                <div id="pinDesc_32" class="pinDescriptionRotated">GPIO 12</div>
                <div id="pinVal_32" class="pinValueRotated"></div>
            </section>
            <section id="pin34" class="pin" type="ground">
                <div id="pinDesc_34" class="pinDescriptionRotated">Ground</div>
                <div id="pinVal_34" class="pinValueRotated"></div>
            </section>
            <section id="pin36" class="pin" type="GPIO">
                <div id="pinDesc_36" class="pinDescriptionRotated">GPIO 16</div>
                <div id="pinVal_36" class="pinValueRotated"></div>
            </section>
            <section id="pin38" class="pin" type="GPIO">
                <div id="pinDesc_38" class="pinDescriptionRotated">GPIO 20</div>
                <div id="pinVal_38" class="pinValueRotated"></div>
            </section>
            <section id="pin40" class="pin" type="GPIO">
                <div id="pinDesc_40" class="pinDescriptionRotated">GPIO 21</div>
                <div id="pinVal_40" class="pinValueRotated"></div>
            </section>
        </section>
    </section>
    <script type="text/javascript">
        setInterval(function(){ updatePins() }, 1500);
        function updatePins() {
            for (var i = 1; i <= 40; i++) {
                updatePin(i);
            }
        }
        function updatePin(num) {
            fetch('read/pin/' + num).then(returnValue = (function(response) {
                if (response.status === 200) {
                    response.text().then(function (data) {
                        updateDiv(num, data);
                    }).catch(function(error) {
                        throw error;
                    });
                }
                else updateDiv(num, 'ERROR - STATUS = ' + response.status);
            })).catch(function(error) {
                console.error('Error at pin ' + num + ': ' + error);
                updateDiv(num, 'ERROR - ' + error);
            });
        }
        function updateDiv(num, value) {
            document.getElementById("pinVal_" + num).innerHTML = value;
        }
    </script>
</body>
</html>