body {
    height: 100vh;
}

div.stream.container-fluid {
    height: 90%;
}
div.stream>img {
    max-height: 100%;
    max-width: 100%;
}

div.control.container-fluid {
    height: 10%;
}

div.diagram.container-fluid {
    height: 30%;
}

div.log.container-fluid {
    height: 60%;
    padding: unset;
}

div.options.container-fluid {
    height: 10%;
}

div.options>div {
    display: flex;
    justify-content: space-between;
}

div.diagram>div>div.progress {
    width: 5rem;
    height: 2%;
    position: absolute;
    top: 8.5%;
    background-color: #222;
}

.sensor {
    background-color: #222;
    position: absolute;
    box-shadow: inset 0px 4px 6px rgba(100, 100, 100, 0.6);
}

.sensor.active {
    background-color: var(--blue);
}

.sensor.vertical {
    width: 1rem;
    height: 2rem;
    left: 47%;
}

.sensor.horizontal {
    width: 2rem;
    height: 1rem;
    top: 14%;
}

.sensor.north {
    top: 2%;
}

.sensor.east {
    right: 17%;
}

.sensor.south {
    top: 24%;
}

.sensor.west {
    left: 16%;
}

.progress.vertical {
    display: inline-block;
    width: 10%;
    height: 20px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.progress.vertical.left {
    left: 20%;
}

.progress.vertical.right {
    right: 22%;
}

.progress.vertical.reverse {
    top: 19% !important;
    transform: rotate(90deg) !important;
}

.progress-bar {
    box-shadow: inset 0px 4px 6px rgba(100, 100, 100, 0.6);
    position: relative;
    height: 100%;
}

.textbox-log {
    height: 50%;
    width: 100%;
    overflow: auto;
    padding: 1rem;
    background-color: white;
}

.textbox-log .timestamp {
    display: inline;
    margin-right: 1rem;
}

.textbox-log.hidden-timestamps .timestamp {
    display: none;
}

.btn {
    color: white !important;
    cursor: pointer;
}

.v-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.h-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}